.card-center {
	max-width: 500px;
	margin: 5px;
	border: 3px solid black;
	padding: 50px;
}


.card-list {
	margin: auto;
	display: flex;
	justify-content: center;
	flex-direction: row;
}


@media  (max-width: 800px) {
	.card-list {
		display: flex;
		flex-direction: column;
	}
}

.card-title {
	text-align: center;
	text-decoration: underline;
}

.navbar {
	text-align: center;
	padding-bottom: 20px;
}

.navbar a {
	color: black;
	padding: 5px;
	margin: auto;
	font-size: 20px;
}

.navbar a:hover {
	box-shadow: inset 0 0 0 3px black;
}

.center-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

